@model ITUniver.TeleCalc.Web.Models.OperationHistory


<div>
    <h4>OperationHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(i => i.Initiator)
        </dt>

        <dd>
            @Html.DisplayFor(i => i.Initiator)
        </dd>

        <dt>
            @Html.DisplayNameFor(i => i.Operation)
        </dt>

        <dd>
            @Html.DisplayFor(i => i.Operation)
        </dd>

        <dt>
            @Html.DisplayNameFor(i => i.Args)
        </dt>

        <dd>
            @Html.DisplayFor(i => i.Args)
        </dd>

        <dt>
            @Html.DisplayNameFor(i => i.Result)
        </dt>

        <dd>
            @Html.DisplayFor(i => i.Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(i => i.CalcDate)
        </dt>

        <dd>
            @Html.DisplayFor(i => i.CalcDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(i => i.Time)
        </dt>

        <dd>
            @Html.DisplayFor(i => i.Time)
        </dd>

    </dl>
</div>

